SIO Saint-benigne.md
workspace.json
*.json
*.json
.obsidian/workspace.json
.obsidian/appearance.json
.obsidian/workspace.json


# Ignore Smart Connections folder because embeddings file is large and updated frequently
.smart-connections